{% extends "bugtracker/base.html" %} 
{% load i18n %}

{% block body %}
    <form class="form-horizontal" method="POST" action="">
        {% csrf_token %}
        <div id="tabs">
            <ul>
                <li>
                    <a href='#tasks'>{% trans "Tasks" %}</a>
                </li>
                <li>
                    <a href="#other">{% trans "Other" %}</a>
                </li>
            </ul>
            <div id="tasks">
                <fieldset class="module aligned  well control-group">
                    <h3>
                        {% trans "Bug default settings" %}
                    </h3>
                    {% for field in bug_settings %}
                        <div class="control-group{% if field.errors %} error{% endif %}{% if field.field.required %} required {% endif %}">
                            <label class="control-label" for="{{ field.auto_id }}">
                                {{ field.label|capfirst }}:
                            </label>
                            <div class="controls">
                                {{ field }}
                                {% if field.errors %}
                                    <div class="help-inline">
                                        {{ field.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </fieldset>
            </div>
            <div id="other">
                <fieldset class="module aligned  well control-group">
                    <h3>
                        {% trans "Other settings" %}
                    </h3>
                    {% for field in other_settings %}
                        <div class="control-group{% if field.errors %} error{% endif %}{% if field.field.required %} required {% endif %}">
                            <label class="control-label" for="{{ field.auto_id }}">
                                {{ field.label|capfirst }}:
                            </label>
                            <div class="controls">
                                {{ field }}
                                {% if field.errors %}
                                    <div class="help-inline">
                                        {{ field.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </fieldset>
            </div>
        </div>
                <fieldset>
                    <div class="form-actions">
                        <button class="submit btn btn-primary" type="submit">
                            {% trans "Save" %}
                        </button>
                     </div>
                </fieldset>

    </form>
    <script>$( "#tabs" ).tabs();</script>
{% endblock %}