.post-body {
    font-family: Arial;
    color: black;
    font-size: 14px;
}

.forum-menu { 
    padding-top: 3px;
    padding-bottom: 3px;
    min-height: 28px;
    max-width: 940px;
}

.forum-search-form {
    float: right;
    height: 28px;
}

.search-breadcrumb {
    margin: 0px;
    border: none;
}

.forum-search-form input {
    margin-bottom: 0px;
}

h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.forum-post-description {
    text-align: left;
}

.forum-room-list thead tr th {
    background-color: rgb(42, 120, 0);
    background-image: none;
    color: white;
}

.forum-room-list tbody tr:nth-child(2n),
.forum-thread-list tbody tr:nth-child(2n) {
    background: inherit;
}

.forum-room-list tbody tr td,
.forum-room-list thead tr th,
.forum-thread-list tbody tr td,
.forum-thread-list thead tr th {
    padding: 4px;
}

.forum-post-description h4 {
    margin: 0px;
}

.forum-post-description h6 {
    margin-bottom: 0px;
}

.forum-room-list {
    margin-bottom: 0px;
}


.forum-thread-list thead tr th {
    background-color: maroon;
    background-image: none;
    color: white;
}

.post-table {
    width: 100%;
    padding: 0px;
}

.post-table .post-body > table {
    width: 100%;
}

.post-table tbody tr .post-body table tbody .post-head td {
    border-bottom: 1px solid white;
} 

.post-table > tbody > tr > td {

}

.post-table > tbody > tr:nth-child(2n) > td {

}
.post-table > tbody > tr > td:first-child {
    border-right: 1px solid white;
}
.post-table > tbody > tr > td {
    border-bottom: 1px solid rgb(221, 221, 221);
}
.post-table > tbody > tr:first-child > td:first-child { border-top-left-radius: 10px;}
.post-table > tbody > tr:first-child > td:last-child { border-top-right-radius: 10px;}
.post-table > tbody > tr:last-child > td:first-child { border-bottom-left-radius: 10px;}
.post-table > tbody > tr:last-child > td:last-child { border-bottom-right-radius: 10px;}

.post-title h3 {
    margin-top: 0px;
    margin-left: 10px;
    margin-bottom: 0px;
}

.post-time {
    width: 200px;
    text-align: right;
    padding-right: 10px;
}

.post-table {
    border-radius: 10px;
    border-collapse: inherit;
    border-spacing: 0px;
    margin-bottom: 10px;

}
.post-table tr td {
}

.post-avatar {
    width: 150px;
    min-height: 150px;    
    text-align: center;
    vertical-align: top;
    padding: 10px;
}
.post-body {
    vertical-align: top;
}

.post-body-content td {
    padding: 15px;
    text-align: left;
    vertical-align: middle;
}

.post-url {
    padding: 5px 5px 5px 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
}

.post-actions {
    padding: 1px 5px 1px 4px;
    border-bottom-right-radius: 10px;
}

/*.post-actions a {
    margin-right: 10px;
}

.post-actions img {
    margin-right: 10px;
}*/

.edited  {
    display: inline-block;
    margin-left: 3px;
    font-size: 11px;
}

#replyformtable > tbody > tr > td { padding: 10px; }

#replyform { margin: 0px; }
#extended-link { margin-left: 10px; }

.deleted-post {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.table tbody .deleted-thread td { 
    padding-top: 2px;
    padding-bottom: 2px; 
}

h6.moderators {
    margin-bottom: 0px;
}
ul.moderators { margin-left: 0px;}

ul.moderators li {
    list-style: none; 
    display: inline-block;
}

ul.comma-list { 
    list-style: none; 
    display: inline-block; 
    margin: 0px;
}

ul.comma-list > li { 
    list-style: none; 
    display: inline-block; 
}

ul.comma-list > li:after { content: ',';}

ul.comma-list > li:last-child:after { content: '.'; }

.online-users { margin-bottom: 5px; }

[class^="online-icon-"],
[class*=" online-icon--"] {
  display: inline-block;
  width: 12px;
  height: 15px;
  line-height: 12px;
  vertical-align: text-top;
  background-image: url("/media/forum/online.png");
  background-position: 12px 12px;
  background-repeat: no-repeat;
}

.online-icon-offline { background-position: 0px 2px; }

.online-icon-online { background-position: -12px 2px; }

.online-icon-here-online { background-position: -24px 2px; }

.online-icon-hidden { background-position: -36px 2px; }

.online-table {
    margin-top: 3px;
    width: 90%
 }

 .online-table td:first-child {
    width: 20%;
    text-align: right;
    vertical-align: middle;
 }
 
 .post-signature {
    margin-top: 20px;
    border-top: 1px solid black;
    font-size: 80%;
    bottom: 0;
 }
 
 .post-compact,  .post-compact p {
    font-size: 12px;
    line-height: 14px;
}

#comments_container {
    min-height: 150px;
}

#comments_container .content, #replyform_placement .content, #post-preview .content  {
    max-width: 940px;
}

#comments_loading, #replyform_loading {
    margin: 0 auto;
    width: 0px;
    text-align: center;
}

#comments_loading_container, #replyform_loading_container {
    display: table-cell;
    height: 150px;
    vertical-align: middle;
    margin: 0 auto;
}

#comments_loading_container img, #replyform_loading_container img {
    padding-bottom: 20px;
}

.thread_collapse {
    background: none repeat scroll 0 0 #46463A;
    border-color: #9C6B3A;
    border-image: none;
    border-radius: 15px 15px 15px 15px;
    border-style: solid;
    border-width: 3px;
    color: #E4D396;
    cursor: pointer;
    display: table-cell;
    float: right;
    font-size: 18px;
    margin-top: -34px;
    text-align: center;
    width: 20px;
    padding-bottom: 3px;
    padding-left: 1px;
}

body .quote { 
    -moz-border-bottom-colors: none; 
    -moz-border-left-colors: none; 
    -moz-border-right-colors: none; 
    -moz-border-top-colors: none; 
    border-color: #8E7F60; 
    background-image: url("../img/baselayout/quote.gif"); 
    border-style: solid; 
    border-width: 1px 1px 1px 3px; 
    margin-left: 30px; 
    padding: 15px; 
} 

@media (max-width: 767px) { 
    #replyform.form-horizontal .controls {
        margin-left: 0px;
    }
}

#refreshcomments {
    width: 32px;
    position: fixed;
    top: 50%;
    right: 0px;
    opacity: 0.9;
    //background: none repeat scroll 0% 0% #999;
}

#refreshcomments:hover {
    opacity: 1;
}

#refreshcomments #refresh {
    display:block;
    background: url('../forum/refresh.gif') no-repeat scroll left top transparent;
    width: 32px;
    //margin: 2px;
    height: 32px;
}
#refreshcomments #refresh:hover {
    background-color: rgba(0, 0, 0, 0);
}

#refreshcomments #refresh.loading {
    background: url('../forum/refresh-loading.gif') no-repeat scroll left top transparent;
}

#refreshcomments #first_unreaded {
    text-decoration: none;
    display: block;
    color: #FFF;
    font-size: 12px;
    padding: 4px 0px 6px;
    width: 34px;
    text-align: center;
    margin-top: 2px;
    position: relative;
    background: none repeat scroll 0% 0% #999;
}

#refreshcomments #first_unreaded:hover {
    background-color: #666;
}

#replyform.form-horizontal .control-group {
    margin-bottom: 10px;
}

#search_filter.control-label {
    width: 190px;
    text-align: center;
}

#search_filter {
    padding-top: 10px;
    padding-bottom: 10px;
}

@media (min-width: 767px) { 
    #search_filter .controls {
        margin-left: 195px;
    }
}
#search_filter fieldset {margin-bottom: 0px;} 
#search_filter fieldset .controls .btn {margin-bottom: 5px;}

.content.post-table.unreaded-post {
    background-image: url("../img/baselayout/bg5.gif");
}

.content.post-table {
    background-image: url("../img/baselayout/bg3.gif");
} 

.room_group_read_mark {
    background: none repeat scroll 0 0 #dfd2c3;
    border-color: #555248;
    border-radius: 15px 15px 15px 15px;
    border-style: double;
    border-width: 3px;
    height: 14px;
    width: 15px;
    display: table-cell;
    float: left;
    margin-top: -31px;
}

.room_group_read_mark.not_readed {
    background: none repeat scroll 0 0 #FFBC37;
    cursor: pointer;
}

.pagination .progress {
    margin-top: 11px;
    margin-bottom: 10px;
}

.pagination .progress .bar{ background-color: #53381a; }
