- extends 'base.haml'
- load i18n
- load url from future

- block breadcrumbs
    %ul.breadcrumb
        %li
            - include 'home_link.haml'
        %li
            %a{href: '{% url "news:list" %}'}
                {% trans "News" %}
        %li
            %a{href: '{% url "news:detail" object.id %}'}
                = object.caption

- block caption
    = object.caption

- block content
    %time.news_datetime{datetime: '{{ object.published_at }}', pubdate: 'pubdate'}
        = object.published_at
    .full_text
        = object.full_text|safe
