{% extends "admin/change_form.html" %} 

{% block content %}
    <iframe src="version/" width="100%" frameborder="0" scrolling="no"></iframe>
    <script type="text/javascript" src="{{ STATIC_URL }}bugtracker/jquery/jquery.iframe-auto-height.plugin.1.9.3.min.js"></script>
    <script>$('iframe').iframeAutoHeight();</script>
{% endblock %}