{% load i18n %}
{% if datablocks.social_warning %}
<div class='alert alert-block'>
    <h4>
    {% trans "Warning!" %}
    </h4>
    {% trans "If you already have account, please read " %}
    <a href="{{ datablocks.social_warning }}"> {% trans "this" %}</a>
</div>
{% endif %}
<h4>
    {% trans "Enter through:" %}
</h4>
<a href="{% url 'vk:auth_oauth' %}">
    <img src='{{ MEDIA_URL }}img/vk.png' />
</a>
<h4>
    {% trans "Enter by login:" %}
</h4>