{% load i18n %}
{% load bugtracker %}

{% if issues %}
    <table class="table table-bordered table-condensed">
        <thead>
            <tr>
                <th></th>
                <th>{% trans "Key" %}</th>
                <th>{% trans "Summary" %}</th>
                <th>{% trans "Assignee" %}</th>
                <th></th>
                <th>{% trans "Status" %}</th>
                <th>{% trans "Create time" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for issue in issues %}
                <tr>
                    <td>
                        <img src="{{ issue.bug_type.icon.url }}" title="{{ issue.bug_type.name }}" />
                    </td>
                    <td>
                        <a {% if iframe %}target="_parent" {%endif%}href="{% bug_url issue.id %}">
                            {{ issue.key }}
                        </a>
                    </td>
                    <td style="text-align: left">
                        <a {% if iframe %}target="_parent" {%endif%}href="{% bug_url issue.id %}">
                            {{ issue.summary }}
                        </a>
                    </td>
                    <td>
                        {% if issue.assignee %}
                            {% if issue.assignee.get_absolute_url %}
                                <a {% if iframe %}target="_parent" {%endif%}href="{{ issue.assignee.get_absolute_url }}">
                                    {{ issue.assignee }}
                                </a>
                            {% else %}
                                {{ issue.assignee }}
                            {% endif %}
                        {% else %}
                            {% trans "Not assigned" %}
                        {% endif %}
                    </td>
                    <td>
                        <div style="color: {{ issue.priority.status_color }};">
                            <img src="{{ issue.priority.icon.url }}" title="{{ issue.priority.name }}" />
                        </div>
                    </td>
                    <td>
                        <img src="{{ issue.status.icon.url }}" />
                        {{ issue.status.name }}
                    </td>
                    <td>
                        {{ issue.create_time }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </table>
{% else %}
    {% trans "No matching issues found" %}
{% endif %}