- extends 'base.haml'
- load i18n

- block breadcrumbs_block

- block title
    {% trans "Login" %}
    
- block caption
    {% trans "Login" %}
    
- block content
    %form{action: '', method: 'POST', style: 'text-align: center;'}
        %fieldset
            - csrf_token
            - for field in form
                - include 'snippets/form_field.haml'
        %button.btn.btn-info{type: 'submit'}
            {% trans "Login" %}
