- extends 'base.haml'
- load i18n

- block extra_scripts
    %link{'rel': 'stylesheet', 'href':'{{ MEDIA_URL }}css/tulius-bugs.css', 'type': 'text/css'}
    
- block breadcrumbs
    %ul.breadcrumb
        %li {% include 'home_link.haml' %}
        %li
            %a{"href": ""}
                = page_caption
                
- block caption
    = page_caption

- block content
    - include 'bugtracker/admin/snippets/bug_list.haml'