- extends 'base.haml'
- load i18n

- block breadcrumbs
    %ul.breadcrumb
        %li
            - include 'home_link.haml'
        %li
            %a{'href': '{% url players:index %}'}
                {% trans "players" %}
        %li
            %a{'href': '{% url players:profile %}'}
                {% trans "Your profile" %}
        %li
            %a{'href': '{% url pm:index %}'}
                {% trans "Private messages" %}

- block caption
    {% trans "Private messages" %}

- block content
    %ul.nav.nav-pills
        %li
            %a{'href': '{% url pm:inbox %}'}
                {% trans "Inbox" %}
        %li
            %a{'href': '{% url pm:outbox %}'}
                {% trans "Outbox" %}