- extends 'base.haml'
- load i18n

- block breadcrumbs
%ul.breadcrumb
    %li
        - include 'home_link.haml'
    %li
        %a{'href': '{% url players:index %}'}
            {% trans "players" %}
    %li
        %a{'href': '{% url players:profile %}'}
            {% trans "Your profile" %}
    %li
        %a{'href': '{% url pm:index %}'}
            {% trans "Private messages" %}
    %li
        %a{'href': '{% url pm:message_create recipient.id %}'}
            {% trans "Write" %}

- block caption
    {% trans "Write" %}

- block content
    <form method="POST" action="" class="send_private_message_form">
        - csrf_token
        = form
        %button{'type': 'submit'}
            {% trans "Submit" %}
    </form>