- extends 'base.haml'
- load i18n

- block breadcrumbs
    %ul.breadcrumb
        %li
            - include 'home_link.haml'
        %li
            %a{'href': '{% url players:index %}'}
                {% trans "players" %}
        %li
            %a{'href': '{% url players:profile %}'}
                {% trans "Your profile" %}
        %li
            %a{'href': '{% url pm:index %}'}
                {% trans "Private messages" %}
        %li
            %a{'href': '{% url pm:history another_user.id %}'}
                {% trans "Mail history with" %}
                = another_user

- block caption
    {% trans "Mail history with" %}
    %a{'href': '{% url players:player_details another_user.id %}'}
        = another_user

- block content
    - if private_messages
        - include 'pm/snippets/message_list.haml'
    - else
        .alert.alert-info
            {% trans "Message history is empty" %}
    - include "snippets/form.haml"