<body>
{% load i18n %}
{% trans "Sorry, site is under maintaince. Try to visit later." %}
<br/>
{% if obj.start_time %}
    {% trans "Start time:"%} {{ obj.start_time }}
    <br />
{% endif %}
{% if obj.comment %}
    {{ obj.comment }}
{% endif %}
</body>