- extends 'base.haml'
- load i18n
- load catalog_paging
- load repeatblock
- load url from future

- enablemacros

- block navbar
            .navbar.navbar-fixed-top
                .navbar-inner
                    .container.newcontainer.game-padding
                        %a.brand.hidden-tablet{'href': '/'}
                            Tulius
                        %ul.nav
                          - load cache
                          - cache 500 navbar
                            %li.dropdown.hidden-phone
                                %a#auth-dropdown-toggler.dropdown-toggle{'data-toggle': "dropdown"}
                                    {% trans "Games" %}
                                    %span.caret
                                %ul.dropdown-menu
                                    %li
                                        %a{href: '{% url "games:index" %}'}
                                            {% trans "All games" %}
                                    %li.divider
                                    %li
                                        %a{href: '{% url "games:announced_games" %}'}
                                            {% trans "Announced games" %}
                                    %li
                                        %a{href: '{% url "games:request_accepting_games" %}'}
                                            {% trans "Accepting requests" %}
                                    %li
                                        %a{href: '{% url "games:awaiting_start_games" %}'}
                                            {% trans "Awaiting start" %}
                                    %li
                                        %a{href: '{% url "games:current_games" %}'}
                                            {% trans "Current games" %}
                                    %li
                                        %a{href: '{% url "games:completed_opened_games" %}'}
                                            {% trans "Opened completed" %}
                            %li.hidden-phone
                                %a{href: '{% url "players:index" %}'}
                                    {% trans "Players" %}
                            %li.hidden-phone
                                %a{href: '{% url "stories:index" %}'}
                                    {% trans "Stories" %}
                            %li.hidden-phone
                                %a{href: '{% url "forum:index" %}'}
                                    {% trans "Forums" %}
                            %li.hidden-phone
                                %a{href: '{% url "news:index" %}'}
                                    {% trans "News" %}
                            - if flatpages
                                %li.dropdown.hidden-phone
                                    %a#flatpages-dropdown-toggler.dropdown-toggle{data-toggle: 'dropdown'}
                                        {% trans "Flatpages" %}
                                        %span.caret
                                    %ul#flatpages-dropdown.dropdown-menu
                                        %li
                                            %a{href: '{% url "flatpages" %}'}
                                                {% trans "All articles" %}
                                        %li.divider
                                        - for flatpage in flatpages
                                            - if flatpage.show_on_home
                                                %li
                                                    %a{href: '{{ flatpage.url }}'}
                                                        = flatpage.title
                        %ul.nav.pull-right
                            - if not request.user.is_anonymous
                                - if request.user.is_superuser
                                    %li.dropdown.hidden-phone
                                        %a#adminsite-dropdown-toggler.dropdown.dropdown-toggle{data-toggle: 'dropdown'}
                                           {% trans "Admin site" %}
                                           %span.caret
                                        %ul#adminsite-dropdown.dropdown-menu
                                            %li
                                                %a{href: '{% url "counters:index"%}'}
                                                    {% trans "Counters" %}
                                            %li
                                                %a{href: '{% url "players:player_exceptions" user.id %}'}
                                                    {% trans "Your exceptions" %}
                                            %li
                                                %a{href: '{% url "admin:index" %}'}
                                                    {% trans "Django admin site" %}
                                            %li
                                                %a{href: '{% url "bugs:bugtracker_main" %}'}
                                                    {% trans "Bugtracker" %}
                                            %li
                                                %a{href: '{% url "bugs:complaints" %}'}
                                                    {% trans "Complaints" %}
                                            %li
                                                %a{data-toggle: 'modal', href: '#reloginModal'}
                                                    {% trans "Switch user" %}
                                %li
                                   - if request.user.not_readed_messages
                                        %a{href: '{% url "players:profile" %}#pm_messages'}
                                            .unread_messages_count
                                                = request.user.not_readed_messages
                                - if request.user.new_invites
                                    %li
                                        %a#new_invites_menu{href: '{% url "players:profile" %}#invites', 
                                            data-title: '{% trans "Invites!" %}', data-content: '{% trans "You got invite to play a game." %}'}
                                            %span.new_invites_count.badge
                                                = request.user.new_invites.count
                                        <script>$('#new_invites_menu').popover({trigger: 'hover', placement: 'bottom'})</script>
                                - if not request.user.is_superuser
                                    %li.visible-desktop
                                        %span.greetings
                                            {% trans "Greetings," %}
                                %li.portrait
                                %li
                                    %a.profilelink{href: "{% url 'players:profile' %}"}
                                        = request.user.username
                                %li
                                    %a{href: '{% url "auth:logout" %}'}
                                       {% trans "Logout" %}
                            - else
                                %li.hidden-phone
                                    %a{data-toggle: 'modal', href: '#loginModal'}
                                        {% trans "login" %}
                                %li.hidden-phone
                                    %a{data-toggle: 'modal', href: '#signupModal'}
                                        {% trans "sign up" %}
                                %li.visible-phone
                                    %a{href: '{% url "auth:login" %}'}
                                        {% trans "login" %}
                                %li.visible-phone
                                    %a{href: '{% url "registration_register" %}'}
                                        {% trans "sign up" %}

- block body_main_area
    #background
      #content-center.container.game-content
        - block breadcrumbs_block
            #top-breadcrumbs
                %ul.breadcrumb
                    %li
                        %a{href: '/'}
                            .homelink
                    - block breadcrumbs
            .breadcrumbs-border
        #top-center
            - if messages
                - for message in messages
                    %div{class: 'alert alert-{{ message.tags }}'}
                        %button.close{type: "button", data-dismiss: "alert"}&times;
                        = message
        - block custom_content
            .content
                .caption{align: "center"}
                    .captionleft
                    .captioncontent
                        - block caption
                    .captionright
                - block content
        - block bottom_breadcrumbs
            #bottom-breadcrumbs
                .breadcrumbs-border
                %ul.breadcrumb
                    %li
                        %a{href: '/'}
                            .homelink
                    - repeat breadcrumbs
    - block footer
        %footer.footer
            .container.newcontainer.game-padding
                - block footer_content
                    %p.pull-left
                        &copy;
                        %a{href: '/'}
                            Tulius.Com
                        2005-2014
                    - if datablocks.usage_rules
                        %p
                            %a{href: '{{ datablocks.usage_rules }}'}
                                {% trans "Service usage rules" %}
                    - if datablocks.confident
                        %p
                            %a{href: '{{ datablocks.confident }}'}
                                {% trans "Confidential policy" %}