.found_bug_btn {
    right: 0px;
    bottom: 0px;
    border-width: 1px medium medium 1px;
    border-style: solid none none solid;
    border-color: rgb(204, 204, 204);
    background: none repeat scroll 0% 0% rgb(245, 245, 245);
    color: rgb(68, 68, 68);
    font-size: 11px;
    padding: 6px;
    box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px 0px 0px 0px;
    position: fixed;
    font-weight: bold;
}

.found_bug_btn:hover {
    color: rgb(68, 68, 68);
}

#foundBug_body input, #foundBug_body textarea  {
    width: 90%;
}