%div.stars
    - for star in player.full_stars
        - if star = 'b'
            %img{src: '/static/players/star_big.png'}
        - elif star = 's'
            %img{src: '/static/players/star_win.gif'}
        - elif star = 'e'
            %img{src: '/static/players/star.gif'}